//  Цвет
$purple-primary: #A65CF0;
$purple-light: #C998FB;
$purple-dark:  #7033AC;

$orange-primary:  #FF862F;
$orange-light: #FFBD59;
$orange-dark: #BB370E;

$grey-primary: #333333;
$grey-secondary: #999999;

$white: #FFFFFF;
$green: #B8EC64;
$red: #FF6972;
$gold: #D5B986;

$bgc-primary: #F7F7F7;
$bgc-pirple-light: #F8EFFF;
$bgc-pirple-dark: #EBD1FF;
$bgc-pirple: #C998FB;
$bgc-grey: #EAEAEA;
$bgc-grey-dark:  #333333;
$bgc-yellow: #FFF5D1;
$bgc-orange: #FF862F;

$border-grey: #EAEAEA;
$border-grey-light: #F7F7F7;
$border-grey-dark: #999999;
$border-pirple: #A65CF0;
$border-pirple-dark: #7033AC;

// Размеры и отступы
$containerMaxWidth: 1920px;
$padding: 320px;
$padding-320: 12px; 
$padding-768: 72px; 
$padding-1024: 36px; 
$padding-1715: 160px; 

$gap: 32px;
$section-gap: 32px;