@media (max-width: 1715px) {
  .container {
    padding: 0 $padding-1715;
  }  
}
@media (max-width: 1406px) {
  .container {
    padding: 0 $padding-1024;
  }  
  .header {
    &__top {
      padding: 0;
      background-color: $white;
    }
    &__top .personal {
      display: flex;
    }
    &__wrapper {
      width: 100%;
      flex-wrap: wrap;
    }
    &__contacts {
      padding: 20px 0;
      width: 100%;
      justify-content: space-between;
    }
    &__info {
      padding: 16px 0;
      width: 75.5%;
      background-color: $bgc-primary;
      // background-color: $grey_primary;
      position: relative;      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: $padding-1024;
        display: block;
        background-color: inherit;        
        border-left: 1px solid $bgc-primary;
        border-right: 1px solid $bgc-primary;
      }
      &::before {
        right: 100%;
        width: $padding-1024;
      }
      &__item:first-child {
        margin-left: -10px;
      }
    }
    &__middle {
      padding-top: 30px;
    }
    &__middle .personal {
      display: none;
    }
    &__bottom {
      padding-top: 22.5px;
    }
    &__bottom .personal {
      display: none;
    }
  }

  .search {
    width: 100%;
    &__label {
      width: 69%;
    }
    &__select {
      width: 31%;
      &__header {
        padding: 16px 27px;
      }
    }
  }
  
  .personal {
    padding: 5.5px 0;
    width: 24.5%;
    background-color: $bgc-primary;
    // background-color: $grey_primary;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: $padding-1024;
      display: block;
      background-color: inherit;        
      border-left: 1px solid $bgc-primary;
      border-right: 1px solid $bgc-primary;
      left: 100%;
      width: $padding-1024;
    }
  }

  .product {
    margin-bottom: 70px;
    grid-template-columns: minmax(514px, 1fr) 1fr;
    &__photo {
      &__wrapper {
        overflow-x: hidden;
        padding: 7px 10px;
      }
      &__item {
        margin-right: 38px;
      }
    }
    &__price {
      margin-bottom: 20px;
    }
    &__oneclick {
      margin-bottom: 8px;
    }
    &__key {
      width: 46%;
    }
    &__value {
      margin-left: 28%;
      width: 54%;
    }
    &__scheme {
      margin-bottom: -7px;
    }
    &__scheme__img {
      transform: scale(0.95);
    }
    &__scheme__img:not(:last-child) {
      margin-right: 15px;
    }
  }  
  
  .partnership {
    &__h2 {
      margin-bottom: 11px;
    }
    &__text {
      width: 88%;
    }
    &__list {
      &-ul {
        width: 65%;
      }
      &-ol {
        width: 88%;
      }
    }
    &__item {
      &-ul:not(:last-child) {
      margin-bottom: 12px;
      }
      &-ol {        
        line-height: 1.85;
      }
      &-ol:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__descr {
      width: 88%;
    }
    &__guarantee  {
      padding-top: 52px;
      width: 65%;
    }
  }

  .footer {
    &__grid {
      grid-template-columns: 1fr 4fr;
    }
    &__nav {
      grid-template-columns: minmax(auto, 178px) minmax(auto, 267px) minmax(auto, 249px) minmax(128px, 1fr);
    }
  }

  .modal__preview {
    &__container {
      margin-top: 167px;
      margin-right: 36px;
      margin-left: 36px;
      min-height: 588px;
    }
    &__main {
      width: 86%;
    }
    &__slider {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }
    &__wrapper {
      padding: 20px 68px;
    }
    &__item  {
      box-sizing: border-box;
      // width: auto !important;
      height: auto;
    }
    &__item:not(:last-child) {
      margin-right: 78px;
    }   
    &__prev {
      left: 0;
      width: 60px;
      border-radius: 0 0 0 10px;
    }
    &__next{
      right: 0;
      width: 60px;
      border-radius: 0 0 10px 0;
    }
    &__prev,
    &__next {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      @include btn-reset; 
      background-color: $bgc-primary;
      cursor: pointer;
      &:focus-visible:not(:disabled) svg circle{
        fill: $purple-light;
        stroke: $purple-primary;
      }  
      &:focus-visible:not(:disabled) svg path{      
        stroke: $white;
      }  
      &:hover:not(:disabled) svg circle{
        fill: $purple-primary;
        stroke: $purple-primary;
      }  
      &:hover:not(:disabled) svg path{      
        stroke: $white;
      } 
      &:active:not(:disabled) svg circle{
        fill: $purple-dark;
        stroke: $purple-dark;
      }  
      &:active:not(:disabled) svg path{      
        stroke: $white;
      }    
    }
    &__prev svg,
    &__next svg {
      display: block;
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;
    }
    &__prev svg path,
    &__next svg circle {    
      transition: stroke 0.3s ease, fill 0.3s ease;
    }
    &__prev svg {
      transform: rotate(180deg);
    }    
    &__disabled svg path,
    &__disabled svg circle {
      stroke: $grey-secondary;
    }
  }

  .index__hero {
    &__slide {
      padding: 80px 35px;
    }
    &__slide-01 {
      background-image: url(../images/hero__img__01-1024.jpg);
    }
    &__slide-02 {
      background-image: url(../images/hero__img__02-1024.jpg);
    }
    &__slide-03 {
      background-image: url(../images/hero__img__03-1024.jpg);
    }
    &__title {
      width: 60%;
    }
  }
  .index__rating {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item:nth-last-child(1),
    &__item:nth-last-child(2) {
      display: none;
    }
  }
  .index__banner {
    &__info {
      left: $padding-1024;
    }
  }
  .top-category {
    overflow-x: hidden;
    & img {
      margin-bottom: 40px;
      margin-left: -30px;
      height: 296px;
      max-width: fit-content;
    }
    &-sofa {
      grid-column: 1/5;
      grid-row: 1/2;
    }
    &-bed {
      grid-column: 5/7;
      grid-row: 1/2;
      & img {
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
    &-chest {
      grid-column: 1/3;
      grid-row: 2/3;
      & img {
        margin-top: 10px;
        margin-left: -264px;
        margin-bottom: 30px;
      }
    }
    &-armchair {
      grid-column: 3/5;
      grid-row: 2/3;
      & img {
        margin-top: 10px;
        margin-left: -264px;
        margin-bottom: 30px;
      }
    }
    &-chair {
      grid-column: 5/7;
      grid-row: 2/3;
      & img {
        margin-top: 10px;
        margin-left: -144px;
        margin-bottom: 30px;
      }
    }
  }  
  .item {
    &-long {
      max-width: 296px;
      width: 296px;
    }
    &__scheme {
      display: none;
    }
    &__img {
      &-long {
        margin-right: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 49px;
      }
    }
  }
  .usefull__article { 
    min-height: 455px;     
    &::before {
      height: 202px;
    }
    &__descr {
      padding-top: 202px;
      margin-bottom: 26px;
      @include font-16-normal;
    }
  }
  .index__feedback {
    width: 46.5%;
    &::after {
      width: 514px;
      height: 316px;
      bottom: 25.5%;
      left: 99%;
    }
    &__input {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 927px){
  .container {
    padding: 0 $padding-768;
  }
  .header {
    &__top .personal {
      display: none;
    }
    &__info {
      padding: 14px 0;
      width: 100%;
      // background-color: $grey-secondary;
      &::before {        
        width: $padding-768;      
        border-left: 1px solid $bgc-primary;
        border-right: 1px solid $bgc-primary;
        right: 100%;
        width: $padding-768;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: $padding-768;
        display: block;
        background-color: inherit;        
        border-left: 1px solid $bgc-primary;
        border-right: 1px solid $bgc-primary;
        left: 100%;
        width: $padding-768;
      }
      &__item:last-child {
        margin-right: -10px;
      }
    }
    &__middle {
      position: relative;
      padding-top: 24px;
    }
    &__middle .personal {
      display: flex;
      width: max-content;
      background-color: $white;
      &::before{
        border: 0;
      }
    }
    &__logo {
      padding-left: 80px;
    }
    &__bottom {
      padding-top: 6.5px;
    }
  }

  .search {
    &__btn {
      right: 27px;
    }
    &__select__header {
      padding: 16px 33px;
  }
  }

  .burger {
    @include btn-reset;
    padding: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:focus-visible {
      background-color: $bgc-pirple-dark;
    }
    &:hover &__line{
      background-color: $purple-light;
    }
    &:active &__line{
      background-color: $purple-dark;
    }
    &__line {
      height: 3px;
      width: 24px;
      border-radius: 4px;
      background-color: $purple-primary;
      transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
      &:first-child {
        margin-bottom: 7px;
      }
      &:last-child{
        margin-top: 7px;
      }
    }
    &-open span:last-child{
      margin-top: -5.5px;
      transform: rotate(45deg);
    }
    &-open span:first-child{
      margin-bottom: 0;
      transform: rotate(135deg);
    }
    &-open span:nth-child(2){
      opacity: 0;
    }
    &-open ~ .nav {
      transform: translate(0px);
    } 
  }

  .nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 50%;
    z-index: 5;
    background-color: $white;
    box-shadow: 10px 0px 19px 8px rgba(0,0,0,0.1);
    border-radius: 0px 20px 20px 0px;
    transform: translate(-1000px);
    transition: transform 0.5s ease;
    &__list {
      flex-direction: column;
      align-items: start;
    }
    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .breadcrumb {
    padding-top: 12px;
    padding-bottom: 37px;
  }

  .product {
    margin-bottom: 31px;
    grid-template-columns: 1fr minmax(404px, 1fr);
    grid-template-rows: repeat(4, auto);
    &__photo {
      grid-column: 1/3;
      grid-row: 1/2;
      position: relative;
      &__wrapper {
        padding: 25px 30px;
        position: absolute;
        bottom: -137%;
        left: 0;
        width: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
      }
      &__item {
        margin-right: 0;
      }
      &__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
    &__name {
      padding-top: 33px;
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &__descr {
      padding-top: 47px;
      grid-column: 1/3;
      grid-row: 3/4;
    }
    &__info {
      margin-bottom: 30px;
      &__text {
        width: 85%;
      }
    }
    &__size {
      grid-column: 1/3;
      grid-row: 4/5;
    }
    &__list {
      padding-top: 4px;
    }
    &__key {
      width: 66.5%;
    }
    &__value {
      width: 34.5%;
    }
  }

  .partnership {
    &__text {
      width: 100%;
    }
    &__list {
      &-ul {
        width: 100%;
      }
      &-ol {
        width: 101%;
      }
    }
    &__item {
      &-ol:not(:last-child) {
      margin-bottom: 8px;
      }
    }
    &__descr {
      margin-bottom: 10px;
      width: 100%;
      line-height: 1.83;
      &-last {
        margin-bottom: 0;
      }
    }
    &__guarantee {
      padding-top: 50px;
      width: 100%;
      &::after {
        top: 28px;
      }
    }
  }

  .footer {
    &__grid{
      grid-template-columns: auto;
      // grid-template-rows: 2;
    }
    &__social {
      margin-bottom: 21px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      margin-bottom: 0;
    }
    &__nav {
      padding-left: 0;
      grid-template-columns: minmax(auto, 122px) minmax(auto, 267px) minmax(auto, 249px) minmax(128px, 1fr);
    }
    &__info {
      &-about {
        margin-right: 5.5%;
      }
      &-services {
        margin-right: 8%;
      }
    }
    &__bottom {
      padding: 4px 0;
    }
  }

  .social {
    &__list{
      margin-top: -4px;
    }
    &__item:not(:last-child) {
      margin-right: 11px;
    }
    &__item:last-child {
      margin-right: -3px;
    }
  }
  .modal__preview {
    &__container {
      margin-top: 199px;
      margin-right: 72px;
      margin-left: 72px;
      min-height: 494px;
    }
    &__main {
      width: 93%;
    }
    &__slider {
      padding-left: 11px;
      padding-right: 11px;
    }
  }

  .index__hero {
    &__slide {
      padding: 80px 70px;
      // min-height: 400px;
    }
    &__slide-01{
      background-image: url(../images/hero__img__01-768.jpg);
    }
    &__slide-02{
      background-image: url(../images/hero__img__02-768.jpg);
    }
    &__slide-03{
      background-image: url(../images/hero__img__03-768.jpg);
    }
    &__title {
      width: 90%;
    }
  }
  .index__rating {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .index__banner__descr {
    width: 65%;
  }
  .index__top{
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
    }
  }
  .top-category{
    &-sofa {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    &-bed {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &-armchair {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &-chest {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    &-chair {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
  .index__feedback {
    width: 71.5%;
    &:after {
      width: 187px;
      height: 444px;
      bottom: 14.5%;
      left: 93%;
      background-image: url(../images/sprite.svg#feedback__img-768);
    }
  }
}

@media (max-width: 721px) {
  .container {
    padding: 0 $padding-320;
  }
  .header {
    padding-bottom: 11px;
    &__top &__logo {
      padding: 12px 0;
      display: flex;
      justify-content: center;
      background-color: $bgc-primary;
    }
    &__contacts {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: start;
    }
    &__region {
      margin-bottom: 18px;
    }
    &__phone__icon {
      margin-right: 5px;
    }
    &__info {
      display: none;
    }
    &__middle {
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: calc(100% + 2 * $padding-320);
        display: block;
        background-color: $border-grey-light;
        z-index: 3;
      }
      &:before {
        top: 0;
        left: -$padding-320;
      }
      &:after {
        bottom: 0;
        left: -$padding-320;
        
      }
    }
    &__middle .personal:before {
      display: none;
    }
    &__middle &__logo{
      display: none;
    }
  }

  .search {
    padding-top: 7px;
    &__form {
      flex-direction: column;
    }
    &__label {
      margin-bottom: 16px;
      width: 100%;
    }
    &__input {
      padding: 20px 57px;
      border-radius: 10px;
    }
    &__btn {
      right: 31px;
    }
    &__select {
      width: 100%;
    }
    &__select__header {
      border-radius: 10px;
    }
  }

  .nav {
    top: 62px;
    left: 0;
    width: 100%;
  }  

  .breadcrumb {
    display: none;
  }

  .product {
    margin-bottom: 67px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0;
    &__photo {
      &__item-main {
        margin-bottom: 12px;
      }
      &__wrapper {
        padding: 10px 10px;
        width: 100%;
        position: static;
        flex-direction: row;
      }
      .product__photo__item:not(:last-child) {
        margin-right: 38px;
        margin-bottom: 0px;
      }
    }
    &__name {
      padding-top: 15px;
    }
    &__title {
      margin-bottom: 8px;
      @include font-16-normal;
      line-height: 1.3;
    }
    &__subtitle {
      margin-bottom: 16px;
      width: 80%;
    }
    &__price {
      margin-bottom: 16px;
      @include font-24-normal;
      line-height: 1.3;
    }
    &__oneclick {
      width: 100%;
    }
    &__add {
      width: 100%;
    }
    &__descr {
      padding-top: 26px;
    }
    &__info__text {
      width: 98%;
    }
    &__scheme {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      &__img {
        width: 47.5%;
        transform: none;
      }
    }
    &__size {
      padding-top: 30px;
    }
    &__key {
      margin-bottom: -2px;
      width: 100%;
      display: block;
      @include font-14-normal;
      font-size: 10px;
      line-height: 1.4;
      &::after {
        content: none;
      }
    }
    &__value {
      margin-left: 0;
      width: 100%;
      display: block;
    }
    &__list li:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .other {
    margin-bottom: 118px;
    position: relative;
    &__nav {
      position: absolute;
      bottom: -51px;
      left: calc(50% - 37px);
      z-index: 3;
    }
  }

  .item {
    min-height: 278px;
    padding: 28px;
    &__star {
      font-size: 12px;    
    }
    &__star svg {
      margin-right: 3px;
      width: 13px;
      height: 14px;
    }
    &__img {
      max-width: 100%;
      // width: 102%;
      margin: 0 auto;
      margin-bottom: 16px;
      align-self: auto;
    }
    &__name {
      margin-bottom: 19px;
      width: 80%;
      @include font-16-normal;
      line-height: 1.3;
    }
    &__price {
      margin-bottom: 15px;
    }
    &__btn {
      padding: 17px 37px;
    }
  }

  .partnership{
    &__title {
      margin-bottom: 11px;
      @include font-24-normal;
      line-height: 1;
      // color: $grey-primary;
    }
    &__section {
      padding-top: 14px;
      padding-bottom: 13px;
    }
    &__h2 {
      margin-bottom: 9px;
      @include font-16-normal;
    }
    &__text {
      @include font-14-normal;
      line-height: 1.79;
    }
    &__list {
      &-ul {
        margin-top: -4px;
        margin-bottom: 4px;
      }
      &-ol {
        width: 99%;
        margin-top: -4px;
        margin-bottom: 4px;
      }
    }
    &__item {
      &-ul {
        @include font-14-normal;
        line-height: 1.5;
      }
      &-ol {
        @include font-14-normal;
        line-height: 1.78;
      }
      &-ol:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    &__plus{
      margin-bottom: 10px;
      @include font-14-normal;
      line-height: 1.4;
    }
    &__descr {
      @include font-14-normal;
      line-height: 1.8;
    }
    &__guarantee {
      padding-top: 28px;
      padding-bottom: 58px;
      padding-left: 52px;
      @include font-16-normal;
      line-height: 1.5;
      &:after {
        top: 37px;
        width: 36px;
        height: 54px;
      }
    }
  }

  .footer {
    &__grid {
      grid-template-columns: minmax(295px, auto);
    }
    &__social {
      flex-direction: column;
    }
    &__logo {
      margin-bottom: 20px;
    }
    &__nav {
      display: grid;
      grid-template-columns: minmax(156px, auto) minmax(156px, auto);
      row-gap: 20px;
    }
      &__info {
    margin-right: 0;
    }
  }

  .modal__close {
    top: 9px;
    right: 10px;
  }
  .modal__close svg{
    display: inline-block;
    width: 12px;
    height: 12px;
  }

  .modal__buy {
    &__container {
      margin-right: 22px;
      margin-left: 22px;
      padding: 31px 16px;
    }
    &__h3 {
      @include font-24-normal;
      line-height: 1;
    }
    &__descr {
      width: 100%;
      margin-bottom: 14px;
    }
    &__input {
      margin-bottom: 14px;
    }
    &__submit {
      padding: 18px 36px;
    }
    &__agreement {
      font-size: 11px;
      &::before {
        margin-right: 5px;
      }
    }
  }

  .modal__thanks {
    &__container {     
      margin-right: 22px;
      margin-left: 22px;
      min-height: 217px;
      padding: 61px 70px;
    }
    &__logo {
      margin-bottom: 14px;
      margin-right: 20px;
      width: 79px;
      height: 50px;
    }
    &__text {
      @include font-16-normal;
      text-align: center;
    }
  }

  .modal__preview {
    &__container {
      width: 90%;
      margin-top: 340px;
      margin-right: 16px;
      margin-left: 12px;
      padding-top: 31px;
      min-height: 286px;
    }
    &__main {
      margin-bottom: 33px;
      width: 89%;
    }
    &__wrapper {
      padding: 15px 50px;
      height: 90px;
    }
    &__item {
      // width: 53%!important;
    }
  }

  .index__hero {
    margin-bottom: 54px;
    position: relative;
    &__title {
      margin-bottom: 0;
      width: 100%;
      font-size: 20px;
      letter-spacing: normal;
    }
    &__slider {
      min-height: 320px;
    }
    &__slide {
      padding: 32px 30px;
      min-height: 210px;
      height: 210px;
    }
    &__slide-01 {
      background-image: url(../images/hero__img__01-320.jpg);
    }
    &__slide-02 {
      background-image: url(../images/hero__img__02-320.jpg);
    }
    &__slide-03 {
      background-image: url(../images/hero__img__03-320.jpg);
    }
    &__btn {
      position: relative;
      bottom: -156px;
      left: -18px;
      width: 114%;
    }
    & .swiper-pagination {
      bottom: var(--swiper-pagination-bottom, 117px);
    }
    & .swiper-pagination-bullet {
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px) !important;
      width: 6px;
      height: 6px;
    }
  }
  .index__section__title {
    font-size: 24px;
  }
  .index__special {
    position: relative;
    padding-bottom: 50px;
    &__top {
      margin-bottom: 26px;
    }
    &__nav {
      position: absolute;
      bottom: -4px;
      right: calc( 50% - 76px / 2);
    }
  }
  .index__rating {
    padding-top: 71px;
    &__grid {
      gap: 16px;
    }
    &__item {      
      padding: 16px 17px;
      max-width: 140px;
    }
    &__wrapper{
      min-width: 140px;
    }
    &__img {
      margin-bottom: 21px;
      max-width: 73%;
    }
    &__name {
      margin-bottom: 18px;
      padding: 0 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }
    &__price {
      padding: 0 16px;
    }
    &__buy {
      padding: 9px 26px;
      margin: 0 auto;
    }
  }
  .index__banner {
    margin-bottom: 120px;
    &__info {      
    left: 12px;
    top: 66px;
    }
    &__title {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 120%;
    }
    &__descr {
      margin: 0;
      font-size: 16px;
      line-height: 120%;
    }
    &__img {
      min-height: 210px;
    }
    &__btn {
      position: absolute;
      bottom: -203px;
      right: -3px;
      width: 101%;
    }
  }
  .index__top {
    padding-top: 38px;
    padding-bottom: 38px;
    &__wrapper {
      column-gap: 16px;
      row-gap: 32px;
      grid-template-rows: 212px, 206px, 206px;
    }
  }
  .top-category {
    padding-top: 28px;
    padding-bottom: 16px;
    min-height: 206px;
    &__list li:not(:last-child) {
      margin-right: 20px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &-sofa {
      position: relative;
      & img {
        margin: 0;
        margin-left: -79px;
        height: 212px;
      }
    }
    &-chair,
    &-armchair,
    &-chest,
    &-bed {
      padding-top: 9px;
      padding-left: 16px;
      padding-right: 16px;
      min-height: 206px;
      position: relative;
      & .top-category__list {
        margin-bottom: 7px;
        flex-direction: column;
      }
      & .top-category__link {
        font-size: 10px;
      }
      & .top-category__list li:not(:last-child) {
        margin-right: 0;
        margin-bottom: -4px;
      }
      & .top-category__title {
        margin-bottom: 7px;
        font-size: 16px;
        line-height: 1.04;
      }
      & img {
        margin-bottom: -4px;
        height: 104px;
      }
    }
    &-bed {      
      & img {
        margin-left: -16px;
      }
      & .btn-tocatalog__link {
        position: absolute;
        top: 48px;
        left: 86px;
      }
    }
    &-armchair {
      & img {
        margin-left: -33px;
      }
      & .btn-tocatalog__link {
        position: absolute;
        top: 48px;
        left: 76px;
      }
    }
    &-chest {
      & img {
        margin-left: -13px;
        height: 87px;
      }
      & .btn-tocatalog__link {
        position: absolute;
        top: 64px;
        left: 97px;
      }
    }
    &-chair {
      & img {
        margin-left: -6px;
      }
      & .btn-tocatalog__link {
        position: absolute;
        top: 48px;
        left: 76px;
      }
    }
    &__btn__text {
      display: none;
    }
  }
  .btn-tocatalog__link {
    position: absolute;
    top: 66px;
    left: 128px;
  }
  .index__usefull {
    padding-top: 38px;
    padding-bottom: 51px;
    position: relative;
    &__nav {
      position: absolute;
      bottom: -4px;
      right: calc( 50% - 76px / 2);
    }
  }
  .index__feedback {
    padding-top: 71px;
    width: 100%;
    &::after {
      content: none;
    }
    &__agreement {
      font-size: 12px;
      &::before {
        margin-right: 4px;
      }
    }
  }
}