@import "_variables.scss";
@import "_mixin.scss";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
	max-width: 100%;
}

address{
  font-style: normal;
}

body {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color:  black;

  background-color: $white;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans-Regular"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans-Bold"),
  url("../fonts/Open Sans-Bold.woff2") format("woff2"),
  url("../fonts/Open Sans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans-SemiBold"),
  url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
  url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display-Black"),
  url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"),
  url("../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTFirsNeue";
  src: local("TTFirsNeue-Medium"),
  url("../fonts/firs/TTFirsNeue-Medium.woff2") format("woff2"),
  url("../fonts/firs/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* global styles*/

.container {
  margin: 0 auto;
  padding: 0 $padding;

  max-width: $containerMaxWidth;
}

.btn {
  cursor: pointer;  
  border: none;
  outline: 0;  
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.burger {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header {
  padding-bottom: 12px;
  &__top {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $bgc-primary;
  }
  &__top .personal {
    display: none;
  }
  &__top &__logo {
    display: none;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  &__contacts{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__phone{
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    &:focus-within{
      background-color: $bgc-yellow;
    }
    &:hover &__number{
      color: $orange-light;
    }
    &:active &__number{
      color: $orange-dark;
    }
    &:hover &__icon path{
      fill: $orange-light;
    }
    &:active {
      color: $orange-dark;
    }
    &:active &__icon path{
      fill: $orange-dark;
    }
    &__icon {
      margin-right: 3px;
      width: 16.5px;
      height: 16.5px;
      & path {
        fill: $orange-primary;
        transition: fill 0.3s ease;
      }      
    }
    &__number {
      margin-left: -1px;
      @include font-14-normal;
      line-height: 14px;

      color: $orange-primary;
      transition: color 0.3s ease;
      &:focus-visible{
        outline: 0;
        color: $orange-primary;
      }
    }
  }
  &__info {
    width: 55.5%;
    &__list{
      @include ul-reset;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__link {
      padding: 0 10px;
      @include font-14-normal;
      line-height: 14px;

      color: $grey-secondary;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:focus-visible {
        outline: 0;
        background-color: $bgc-pirple-dark;
        color: $purple-dark;
      }
      &:hover {
        color: $purple-primary;
      }
      &:active {
        color: $purple-dark;
      }
    }
  }
  &__middle {
    width: 100%;
    padding-top: 33px;
    padding-bottom: 14.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__middle .personal {
    display: none;
  }
  &__logo svg{
    display: block;
    width: 187px;
    height: 27px;
  }
  &__bottom {
    width: 100%;
    padding-top: 18.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  &__bottom .personal {
    display: flex;
  } 
}

.nav {
  width: 75%;
  &__list {
    @include ul-reset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    padding: 0 10px;
  }
  &__item:last-child {
    margin-right: -10px;
  }
  &__link {
    @include font-16-normal;
    line-height: 22px;

    color: $grey-primary;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:focus-visible {
      outline: 0;
      background-color: $bgc-pirple-dark;
    }
    &:hover {
      color: $purple-primary;
    }
    &:active {
      color: $purple-dark;
    }
  }
}

.region {
  &__label {
    margin-right: 23px;
    display: flex;
    align-items: center;
    justify-content: start;   
  }
  &__text {
    margin-right: 4px;
    @include font-16-normal;
    line-height: 19px;

    color: $grey-primary;
  }
  &__select {    
    position: relative;
    width: 85px;
    cursor: pointer;
    &:focus-visible{
      outline: 0;
    }
    &:focus-visible &__header{      
      color: $purple-dark;  
      background-color: $bgc-pirple-dark      
    }
    &:focus-visible &__header::after{
      background-image: url(../images/sprite.svg#select__arrow-dark);
    }
    &:hover &__header span{
      color: $purple-light;        
    }
    &:hover &__header::after{
      background-image: url(../images/sprite.svg#select__arrow-light);
    }
    &:active &__header span{
      color: $purple-dark;        
    }
    &:active &__header::after{
      background-image: url(../images/sprite.svg#select__arrow-dark);
    }    
    &__header{
      position: relative;
      padding-right: 20px;
      transition: color 0.32s ease, background-color 0.3s ease;
      &:after{
        content: "";
        position: absolute;
        top: calc(50% - 5px);
        right: 8px;
        width: 10px;
        height: 10px;
        background-image: url(../images/sprite.svg#select__arrow-primary);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease;
      }
    }
    &__current{
      @include font-16-normal;
      line-height: 19px;
  
      color: $purple-primary;
    }
  }
&__dropdown{      
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 26px;
    left: -5px;
    border: 2px solid $border-grey-light;
    background-color: $white;
    z-index: 100;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease;
    &__item {
      outline: 0;
      margin-bottom: 11px;
      @include font-14-normal;
      line-height: 18px;

      color: $grey-primary;
      transition: color 0.3s ease, background-color 0.3s ease;
      &:focus-visible:not(&:hover){
        
        background-color: $bgc-pirple-dark;
      }
      &:hover {
        color: $purple-light;
      }
      &:active {
        color: $purple-dark;
      }
    }
  }
}
  .select-open .select__header::after{
    transform: rotate(180deg);
  }
  .select-open .dropdown {
    transform: scaleY(1);
  }

.search {
  width: 85%;
  &__form {
    display: flex;
    align-items: center;      
    justify-content: start;
  }
  &__label {
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
  }  
  &__icon-arrow {
    & path{
      stroke: $purple-primary;
      transition: stroke 0.3s ease;
    }
    & circle {
      fill: transparent;
      transition: stroke 0.3s ease, fill 0.3s ease;
    }
  }
  &__btn{    
    @include btn-reset;
    position: absolute;
    top: calc(50% - 16px);
    right: 36px;
    width: 33px;
    height: 32px; 
    &:focus-visible {
      outline: 0;
    } 
    &:focus-visible svg circle {
      stroke: $purple-primary;
      fill: $purple-light;
    }
    &:focus-visible svg path {
      stroke: white; 
    }
    &:hover .search__icon-arrow g path {
      stroke: $white;
    }
    &:hover  .search__icon-arrow g circle {
      stroke: $purple-primary;
      fill: $purple-primary;
    }    
    &:active .search__icon-arrow g path {
      stroke: $white;
    }
    &:active  .search__icon-arrow g circle {
      stroke: $purple-dark;
      fill: $purple-dark;
    } 
    & svg path,
    & svg circle {
      transition: fill 0.3s ease, stroke 0.3s ease;
    }
  }
  &__input {
    width: 100%;
    padding: 17.5px 60px;
    background-color: $bgc-primary;
    border: 2px solid $bgc-primary;
    border-radius: 10px 0px 0px 10px;
    @include font-16-normal;
    line-height: 19px;

    color: $grey-primary;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    &::placeholder{
      @include font-16-normal;

      color: $grey-secondary;
    }   
    &:focus,
    &:focus-visible {
      outline: 0;
      background-color: $bgc-pirple-light;
      border-color: $border-pirple;
    } 
    &:hover {
      background-color: $bgc-grey;
    }
    &:active ~ .search__icon-loop path{
      fill: $purple-primary;
    }
    &:not(:placeholder-shown) ~ .search__icon-loop path{
      fill: $purple-primary;
    }
  }
  &__icon-loop {
    position: absolute;
    top: calc(50% - 8px);
    left: 34px;
    & path {
      fill: $grey-secondary;
      transition: fill 0.3s ease;
    }
  }
  &__select {
    width: 27.5%;
    position: relative;
    cursor: pointer;
    &:focus-visible &__header{
      background-color: $bgc-pirple-light;
      border-color: $border-pirple;
      color: $purple-primary;
    }
    &:focus-visible {
      outline: 0;      
    }
    &:hover &__header {
      border-color: $border-pirple;
      color: $purple-primary;
    }
    &:active &__header {
      border-color: $border-pirple-dark;
      color: $purple-primary;
    }
    &__header {
      position: relative;
      padding: 16px 32px;
      background: $white;      
      z-index: 3;
      border: 2px solid $border-grey-light;
      border-radius: 0px 10px 10px 0px;
      transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: calc(50% - 4px);
        right: 32px;
        background-image: url(../images/sprite.svg#select__arrow-primary);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  
        transition: transform 0.3s ease;
      }
    }
    &__current {
      @include font-16-normal;
      line-height: 22px;

      color: $purple-primary;
    }
  }
  &__dropdown {
    width: 100%;
    height: 208px;
    padding: 35px 42px 0px 27px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 45px;
    left: 0px;
    border: 2px solid $border-grey-light;
    border-radius: 0px 10px 10px 10px;
    background-color: $white;
    transform-origin: top;
    z-index: 2;
    transform: scaleY(0);
    transition: transform 0.3s ease;    
    &__item {
      margin-bottom: 14px;
      transition: color 0.3s ease;
      &:hover {
        color: $purple-light;
      }
      &:active {
        color: $purple-dark;
      }
    }
  }
}

.personal {
  width: 10%;
  // display: flex;
  justify-content: end;
  align-items: center;
  &__accaunt{
    @include btn-reset;
    margin-right: 26px;
    padding: 4px;
    transition: background-color 0.3s ease;
    & svg path {
      transition: fill 0.3s ease;
    }
    &:focus-visible:not(:hover) {
      outline: 0;
      background-color: $bgc-pirple;
    }
    &:focus-visible svg path{
      fill: $white;
    }
    &:hover svg path{
      fill: $purple-light;
    }
    &:active svg path{
      fill: $purple-dark;
    }
  }
  &__cart {
    @include btn-reset;
    position: relative;
    padding: 4px 4px 4px 12px;
    margin-right: -4px;
    &__count{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10px;
      left: 2px;
      width: 14px;
      height: 15px;
      border-radius: 50%;
      background-color: $orange-primary;
      @include font-14-normal;
      font-size: 10px;
      line-height: 10px;

      color: $white;
    }
    & svg path {
      transition: fill 0.3s ease;
    }
    &:focus-visible:not(:hover) {
      outline: 0;
      background-color: $bgc-pirple;
    }
    &:focus-visible svg path{
      fill: $white;
    }
    &:hover svg path{
      fill: $purple-light;
    }
    &:active svg path{
      fill: $purple-dark;
    }
  }
}




.footer {
  width: 100%;
  &__top {
    padding-top: 25px;
    padding-bottom: 19px;
    width: 100%;
    background-color: $bgc-grey;
  }
  &__grid {
    display: grid;
    grid-template-columns: 2fr 4fr;
  }
  &__logo {
    margin-bottom: 23px;
    width: min-content;
  }
  &__logo svg {
    display: inline-block;
    width: 187px;
    height: 27px;
  }
  &__nav {
    padding-left: 10px;
    display: grid;
    grid-template-columns: minmax(auto, 196px) minmax(auto, 267px) minmax(auto, 249px) minmax(128px, 1fr);

  }
  &__info {
    display: flex;
    flex-direction: column;
  }  
  &__h4 {
    @include font-16-normal;
    line-height: 16px;

    color: $grey-primary
  }
  &__list {
    margin-top: 6px;
    @include ul-reset;    
  }  
  &__item{
    margin-bottom: 5px;
  }
  &__link {
    padding: 0 3px;
    @include font-14-normal;
    line-height: 14px;

    color: $grey-secondary;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:focus-visible {
      outline: 0;
      background-color: $bgc-pirple-dark;
      color: $purple-dark;
    }
    &:hover {
      color: $purple-primary;
    }
    :active {
      color: $purple-dark;
    }
  }
  &__bottom {
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
  }
  &__copyright {
    @include font-14-normal;
    line-height: 19px;

    color: $grey-secondary;
  }
}

.social {
  margin-left: -3px;
  &__list {
    @include ul-reset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__item:not(:last-child) {
    margin-right: 12px;
  }
  &__link {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    transition: background-color 0.3s ease;
    & svg {
      width: 30px;
      height: 30px;
    }
    &__link svg path{
      fill: $grey-secondary;
      transition: fill 0.3s ease;
    }
    &:focus-visible:not(:hover) {
      background-color: $purple-light;
    }
    &:focus-visible {
      outline: 0;
    }
    &:focus-visible:not(:hover) svg path {
      fill: $white;
    }
    &:hover svg path {
      fill: $purple-primary;
    }
    &:active svg path {
      fill: $purple-dark;
    }
  }
  
}

.breadcrumb {
  padding-top: 10px;
  padding-bottom: 36px;
  &__line {
    @include font-14-normal;
    line-height: 14px;

    color: $grey-secondary;
  }
  &__item {
    margin-right: 5px;
    transition: outline-color 0.3s ease, color 0.3s ease; 
    &:focus-visible {
      outline: 1px solid $grey-secondary;
      outline-offset: 3px;
    }
    &:hover {
      color: $grey-primary;
    }
    &:active {
      color: $purple-primary;
    }
  }
  &__slash{
    margin-right: 0px;
  }
  &__active {
    margin-right: 0;

    color: $purple-dark;
  }
}


.star svg{
  width: 16px;
  height: 15px;
}



// Главная страница

.index {
  &__section__title {    
    @include font-32-normal;
    line-height: 1;

    color: $grey-primary;    
  }
  &__hero {
    padding-top: 20px;
    margin-bottom: 70px;
    width: 100%;
    &__slide {
      padding: 80px $padding;
      min-height: 400px;
      box-sizing: border-box;      
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &-01 {
        background-image: url(../images/hero__img__01.jpg);
      }
      &-02 {
        background-image: url(../images/hero__img__02.jpg);
      }
      &-03 {
        background-image: url(../images/hero__img__03.jpg);
      }

    }
    &__title {
      margin-bottom: 50px;      
      width: 50%;
      font-family: 'Open Sans', Verdana, Arial, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 48px;
      letter-spacing: -3px;
      line-height: 1.35;

      color: $grey-secondary;
      &-white {
        color: $white;
      }
    }
    &__btn {
      padding: 22px 46px;
      background-color: $purple-primary;
      border: 1px solid $purple-primary;
      border-radius: 10px;
      @include font-16-normal;
      font-weight: 700;
      line-height: 1;

      color: $white;
      &:focus-visible {
        outline: 0;

      }
    }
    .swiper-pagination {
      bottom: var(--swiper-pagination-bottom,19px);
    }
    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      background-color: $bgc-grey-dark;
      opacity: 0.3;
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px)!important;
      &-active {
        opacity: 1;
      }
    }
  }
  &__special {
    padding-bottom: 35px;
    &__top {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }   
    &__pred,
    &__next {
      @include btn-reset; 
      cursor: pointer;
      &:focus-visible:not(:disabled) svg circle{
        fill: $purple-light;
        stroke: $purple-primary;
      }  
      &:focus-visible:not(:disabled) svg path{      
        stroke: $white;
      }  
      &:hover:not(:disabled) svg circle{
        fill: $purple-primary;
        stroke: $purple-primary;
      }  
      &:hover:not(:disabled) svg path{      
        stroke: $white;
      } 
      &:active:not(:disabled) svg circle{
        fill: $purple-dark;
        stroke: $purple-dark;
      }  
      &:active:not(:disabled) svg path{      
        stroke: $white;
      }    
    }
    &__pred svg,
    &__next svg {
      display: block;
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;
    }
    &__pred svg path,
    &__next svg circle {    
      transition: stroke 0.3s ease, fill 0.3s ease;
    }
    &__pred svg {
      transform: rotate(180deg);
    }
    &__pred {
      margin-right: 7px;
    }
    
    &__disabled svg path,
    &__disabled svg circle {
      stroke: $grey-secondary;
    }
  }
  &__rating {
    padding-top: 35px;
    padding-bottom: 35px;
    &__title {
      margin-bottom: 26px;
    }
    &__grid {
      margin-bottom: 32px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $gap;
    }
    &__item {
      justify-self: center;
    }
    &__btn {
      @include btn-reset;
      padding: 21px 26.5px;
      margin: 0 auto;
      display: block;
      background-color: $purple-primary;
      border:  1px solid  $purple-primary;
      border-radius: 10px;
      @include font-16-normal;
      font-weight: 700;
      line-height: 1;

      color: $white;
      transition: border-color 0.3s ease, background-color 0.3s ease;
      &:focus-visible {
        outline: 0;
        border-color: $purple-dark;
        background-color: $purple-light;
      }
      &:hover {
        border-color:$purple-light;
        background-color: $purple-light;
      }
      &:active {
        border-color: $purple-dark;
        background-color: $purple-dark;
      }
    }
  }
  &__banner {
    padding-top: 35px;
    margin-bottom: 67px;
    position: relative;
    &__img {
      width: 100%;
      min-height: 600px;
    }
    &__info {
      position: absolute;
      left: $padding;
      top: calc(50% - 190px / 2 - 30px);

    }
    &__title {
      margin-bottom: 5px;
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      font-style: normal;
      font-size: 60px;
      line-height: 1; 

      color: $gold;
    }
    &__descr {
      margin-bottom: 50px;
      width: 60%;
      font-family: 'Open Sans', Verdana, Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 48px; 
      line-height: 1.2;
      
      color: $white;
    }
    &__btn {
      @include btn-reset;
      padding: 21px 26.5px;
      // margin: 0 auto;
      // display: block;
      background-color: $purple-primary;
      border:  1px solid  $purple-primary;
      border-radius: 10px;
      @include font-16-normal;
      font-weight: 700;
      line-height: 1;

      color: $white;
      transition: border-color 0.3s ease, background-color 0.3s ease;
      &:focus-visible {
        outline: 0;
        border-color: $purple-dark;
        background-color: $purple-light;
      }
      &:hover {
        border-color:$purple-light;
        background-color: $purple-light;
      }
      &:active {
        border-color: $purple-dark;
        background-color: $purple-dark;
      }
    }
  }
  &__top {
    padding-bottom: 35px;
    &__title {
      margin-bottom: 26px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: $gap;
    }
  }
  &__usefull {
    padding-top: 35px;
    padding-bottom: 35px;
    &__top {
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }   
    &__pred,
    &__next {
      @include btn-reset; 
      cursor: pointer;
      &:focus-visible:not(:disabled) svg circle{
        fill: $purple-light;
        stroke: $purple-primary;
      }  
      &:focus-visible:not(:disabled) svg path{      
        stroke: $white;
      }  
      &:hover:not(:disabled) svg circle{
        fill: $purple-primary;
        stroke: $purple-primary;
      }  
      &:hover:not(:disabled) svg path{      
        stroke: $white;
      } 
      &:active:not(:disabled) svg circle{
        fill: $purple-dark;
        stroke: $purple-dark;
      }  
      &:active:not(:disabled) svg path{      
        stroke: $white;
      }    
    }
    &__pred svg,
    &__next svg {
      display: block;
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease;
    }
    &__pred svg path,
    &__next svg circle {    
      transition: stroke 0.3s ease, fill 0.3s ease;
    }
    &__pred svg {
      transform: rotate(180deg);
    }
    &__pred {
      margin-right: 7px;
    }
    &__disabled svg path,
    &__disabled svg circle {
      stroke: $grey-secondary;
    }
  }
  &__feedback {
    padding-top: 35px;
    padding-bottom: 70px;
    width: 66%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 17.5%;
      right: -26.5%;
      width: 624px;
      height: 383px;
      background-image: url(../images/sprite.svg#feedback__img);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 3;
    }
    &__title {
      margin-bottom: 12px;
    }
    &__descr {
      margin-bottom: 15px; 
      display: inline-block;     
      @include font-14-normal;
      line-height: 1.3;

      color: $grey-secondary;
    }
    &__tooltip__wrapper {
      cursor: pointer;
      position: relative;
      display: inline-block;
      &:hover .index__feedback__tooltip__text{
        opacity: 1;
      }
      &:hover .index__feedback__tooltip__text::before{
        opacity: 1;
      }
      &:hover .index__feedback__tooltip__icon path:nth-child(2){
        fill: $orange-primary;
      }
      &:hover .index__feedback__tooltip__icon path:nth-child(1){
        fill: $white;
      }
    }
    &__tooltip__text {
      padding: 5px;
      position: absolute;
      z-index: 2;
      top: -90px;
      left: calc( 50% - 250px / 2);
      width: 250px;
      @include font-14-normal;
      line-height: 1.56;
      text-align: center;
      background-color: $bgc-grey-dark;

      color: $white;

      opacity: 0;
      transition: opacity 0.3s ease;
      &::before {
        content: "";
        position: absolute;
        bottom: -11px;
        left: calc(50% - 24px / 2);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: $bgc-grey-dark transparent transparent transparent;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }
    &__tooltip__icon path {
      &:first-child {
        fill: $orange-primary;
      }
      &:nth-child(2) {
        fill: transparent;
      }
        
      transition: fill 0.3s ease;      
    }
    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__input {
      width: 100%;
      margin-bottom: 29px;
      @include input;
    }
    &__input::placeholder {
      @include font-16-normal;
      line-height: 2.5;
  
      color: $grey-secondary;
    }
    &__label {
      width: 100%;
      position: relative;
    }
    &__submit {
      @include btn-reset;
      @include btn__fill;
      padding: 17px 35px;
      margin-bottom: 13px;
      align-self: flex-start;
    }
    &__inner {
      width: 100%;    
      display: flex;
      align-items: center;
      justify-content: flex-start;   
    }
    &__checkbox {
      display: none;
      @include font-14-normal;
      line-height: 1.3;
  
      color: $grey-primary;
    }
    &__agreement {
      width: 100%;
      position: relative; 
      display: flex;
      align-items: center;
      @include font-14-normal;
      line-height: 1.3;
  
      color: $grey-primary;
      &::before {
        content: "";
        margin-right: 10px;
        width: 15px;
        height: 15px;
        background-color: $white;
      
        border: 2px solid $border-grey;
        border-radius: 2px;
        transition: background-color 0.3s ease;
      }
      &::after {
        content: "";
        position: absolute;
        top: 3.5px;
        left: 3px;
        width: 10px;
        height: 10px;
        background-image: url(../images/sprite.svg#checkbox);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }
    &__agreement-error::before {
      border-color: $red;
    }
    &__checkbox:checked + &__agreement::before {
      background-color: $purple-primary;
      border-color:$purple-primary;
    }
    &__checkbox:checked + &__agreement::after {
      opacity: 1;
    }
    &__link {
      text-decoration: underline;
      color: $purple-primary;
    }
  }
}

.top-category {
  padding: 28px 30px;
  background-color: $bgc-primary;
  border-radius: 10px;
  &__list {
    margin-bottom: 14px; 
    @include ul-reset; 
    display: flex;      
  }
  &__list li:not(:last-child) {
    margin-right: 30px;
  }
  &__link {
    @include font-14-normal;
    line-height: 1;

    color: $grey-secondary;

    &:focus-visible {
      outline: 1px solid #999999;
      outline-offset: 3px;
    }
    &:hover {
      color: #333333;
    }
    &:active {
      color: #A65CF0;
    }
  }
  &__title {
    margin-bottom: 30px;
    @include font-24-normal;
    line-height: 1.3;

    color: $grey-primary;
  }
  & img {
    margin-bottom: 27px;
    margin-left: -30px;
  }
  &-sofa {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  &-armchair {
    grid-column: 4/7;
    grid-row: 1/2;
  }
  &-bed {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  &-chest {
    grid-column: 3/5;
    grid-row: 2/3;
    & img {
      height: 202px;
    }
  }
  &-chair {
    grid-column: 5/7;
    grid-row: 2/3;
  }
}

.usefull__article {
  padding: 30px;
  width: 624px;
  min-height: 676px;
  position: relative;
  border-radius: 10px;
  background-color: $bgc-primary;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;        
    height:  427px;    
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-01::before {
    background-image: url(../images/useful__img__01.jpg);
  }
  &-02::before {
    background-image: url(../images/useful__img__02.jpg);
  }
  &-03::before {
    background-image: url(../images/useful__img__03.jpg);
  }
  &-04::before {
    background-image: url(../images/useful__img__04.jpg);
  }
  &-05::before {
    background-image: url(../images/useful__img__05.jpg);
  }
  &__descr {
    margin-bottom: 38px;
    padding-top: 426px;
    @include font-24-normal;
    line-height: 1.4;

    color: $grey-primary;
  }
  &__btn {
    @include btn-reset;
    padding: 15px 35px;
    border: 1px solid $purple-primary;
    border-radius: 10px;

    color: $purple-primary;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    &:focus-visible {
      background-color: $purple-light;
      border-color: $purple-primary;
      color: $white;
    }
    &:hover {
      background-color: $purple-primary;
      color: $white;
    }
    &:active {
      border-color: $purple-dark;
      background-color: $purple-dark;
      color: $white;
    }
  }
}


// Страница "Карточка товара"
.product {
  margin-top: -5px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(624px, 1fr) 1fr;
  gap: $gap;
  &__photo {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__item {
      flex-shrink: 0;
      &-main {
        margin-bottom: 16px;
      }
      &-main:focus-visible {
        outline: 0;
      }
      &-main img {
      transition: outline-color 0.3s ease;
      }
      &-main:focus-visible img {
        outline: 1px solid $border-pirple;
        outline-offset: 10px;
      }
      &-main:hover img {
        outline: 1px solid $border-pirple;
        outline-offset: 10px;
      }
      &-main:active img {
        outline: 1px solid $border-pirple-dark;
        outline-offset: 10px;
      }
    }
    &__item:focus-visible{
      outline: 0;
    }
    &__item img {
      transition: outline-color 0.3s ease;
    }
    &__item:focus-visible img {
      outline: 1px solid $border-pirple;
      outline-offset: 5px;
    }
    &__item:hover img {
      outline: 1px solid $border-pirple;
      outline-offset: 5px;
    }
    &__item:active img {
      outline: 1px solid $border-pirple-dark;
      outline-offset: 5px;
    }
    &__item:not(:last-child) {
      margin-right: 39px;
    }
    &__wrapper {
      padding: 8px 25px;
      width: 100%;
      background-color: $bgc-primary;
      display: flex;
      flex-wrap: nowrap;
    }
  }
  &__name {
    padding-top: 19px;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__star {
    @include font-16-normal;
    line-height: 1.3;

    color: $orange-primary;
  }
  &__title {
    margin-bottom: 5px;
    @include font-24-normal;
    line-height: 1.3;

    color: $grey-primary;
  }
  &__subtitle {
    margin-bottom: 20px;
    @include font-14-normal;
    line-height: 1;
    color: $grey-secondary;
  }
  &__price {
    margin-bottom: 23px;
    @include font-36-normal;
    line-height: 1.3;

    color: $grey-primary;
  }
  &__oneclick {
    @include btn-reset;
    margin-bottom: 11px;
    @include btn__fill;
  }
  &__add {
    cursor: pointer;
    @include btn-reset;
    padding: 5px 30px;
    border: 1px solid transparent;
    border-radius: 10px;

    color: $purple-primary;
    transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    &:focus-visible {
      border-color: $purple-primary;
    }
    &:hover {
      background-color: $purple-light;
      color: $white;
    }
    &:active {
      background-color: $purple-dark;
      color: $white;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__h3 {
    margin-bottom: 8px;
    @include font-16-normal;
    font-weight: 600;
    line-height: 1;

    color: $grey-primary;
  }
  &__info__text {
    @include font-14-normal;
    line-height: 1.8;

    color: $grey-primary;
  }
  &__info__text:not(:last-child) {
    margin-bottom: 6px;
  }
  &__scheme__img:not(:last-child) {
    margin-right: 27px;
  }
  &__list {
    @include ul-reset;
  }
  &__key {
    display: inline-block;
    position: relative;
    margin-right: -30%;
    width: 51%;
    overflow: hidden;
    vertical-align: bottom;
    @include font-14-normal;
    line-height: 1.78;

    color: $grey-secondary;
    &::after {
      content: "....................................................................";
      display: inline-block;
      width: 100%;
      margin: 0 -99% 0 3px;
      letter-spacing: 2px;
    }
  }
  &__value {
    margin-left: 30%;
    width: 47%;
    vertical-align: bottom;
    display: inline-block;
    @include font-14-normal;
    line-height: 1.78;


    color: $grey-primary;    
  }
}

.other {
  &__top {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__h3 {
    @include font-24-normal;
    line-height: 1.3;

    color: $grey-primary;
  }
  &__pred,
  &__next {
    @include btn-reset; 
    cursor: pointer;
    &:focus-visible:not(:disabled) svg circle{
      fill: $purple-light;
      stroke: $purple-primary;
    }  
    &:focus-visible:not(:disabled) svg path{      
      stroke: $white;
    }  
    &:hover:not(:disabled) svg circle{
      fill: $purple-primary;
      stroke: $purple-primary;
    }  
    &:hover:not(:disabled) svg path{      
      stroke: $white;
    } 
    &:active:not(:disabled) svg circle{
      fill: $purple-dark;
      stroke: $purple-dark;
    }  
    &:active:not(:disabled) svg path{      
      stroke: $white;
    }    
  }
  &__pred svg,
  &__next svg {
    display: block;
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
  }
  &__pred svg path,
  &__next svg circle {    
    transition: stroke 0.3s ease, fill 0.3s ease;
  }
  &__pred svg {
    transform: rotate(180deg);
  }
  &__pred {
    margin-right: 7px;
  }
  
  &__disabled svg path,
  &__disabled svg circle {
    stroke: $grey-secondary;
  }
  &__bottom {
    margin-bottom: 70px;
  }
}

.item {
  padding: 32px 30px;
  max-width: 296px;
  min-height: 420px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  // position: relative;
  box-sizing: border-box;
  background-color: $bgc-primary;
  border-radius: 10px;
  width: 296px!important;
  &-long {
    padding: 32px 30px;
    max-width: 624px;
    min-height: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: $bgc-primary;
    border-radius: 10px;
    width: 624px!important;
  }
  &__star {
    align-self: flex-start;
    @include font-16-normal;
    line-height: 1.3;

    color: $orange-primary;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 235px;
  }
  &__label {
    width: 84px;
    // margin-bottom: 10px;
    padding: 8px 17px;
    position: relative;
    top: 1px;
    left: -109px;
    background-color: $bgc-orange;
    text-align: center;
    @include font-14-normal;
    font-weight: 700;
    line-height: 1.3;

    color: $white;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -9.3px;
      width: 0;
      height: 0;
      background-color: transparent;
      border-style: solid;
      border-width: 17px 0 17px 10px;
      border-color: transparent transparent transparent $bgc-orange;      
    }
    &-long {
      width: 84px;
      padding: 8px 17px;
      position: relative;
      top: 1px;
      left: -30px;
      background-color: $bgc-orange;
      text-align: center;
      @include font-14-normal;
      font-weight: 700;
      line-height: 1.3;
  
      color: $white;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -9px;
        width: 0;
        height: 0;
        background-color: transparent;
        border-style: solid;
        border-width: 17px 0 17px 10px;
        border-color: transparent transparent transparent $bgc-orange;      
      }
    }
  }
  &__img {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 17px;
    max-width: 112%;
    align-self: center;
    &-long {
      margin-top: -26px;
      margin-left: 59px;
      margin-right: 0px;
      margin-bottom: 17px;
      max-width: 112%;
      align-self: center;
    }
  }
  &__name {
    margin-bottom: 24px;
    @include font-24-normal;
    line-height: 1.3;

    color: $grey-primary;
    &-special {
      
      margin-bottom: 19px;
      @include font-24-normal;
      line-height: 1.3;
  
      color: $grey-primary;
    }
  }
  &__price {
    margin-bottom: 24px;
    @include font-16-normal;
    line-height: 1.3;

    color: $grey-secondary;
    &-old {
      @include font-16-normal;
      line-height: 1.3;
      text-decoration: line-through;

      color: $grey-secondary;
    }
    &-new {
      margin-right: 30px;
      @include font-16-normal;
      font-size: 18px;
      line-height: 1.3;

      color: $orange-primary;
    }
  }
  &__btn {
    @include btn-reset;
    padding: 15px 35px;
    border: 1px solid $purple-primary;
    border-radius: 10px;

    color: $purple-primary;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    &:focus-visible {
      background-color: $purple-light;
      border-color: $purple-primary;
      color: $white;
    }
    &:hover {
      background-color: $purple-primary;
      color: $white;
    }
    &:active {
      border-color: $purple-dark;
      background-color: $purple-dark;
      color: $white;
    }
  }
  &__inner {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__scheme {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}

// swiper

.swiper {
  width: 100%;
}

// Модальное окно "Купить в 1 клик"
.modal__close {
  cursor: pointer;
  @include btn-reset;
  padding: 5px;
  position: absolute;
  top: 14px;
  right: 16px;
  transition: background-color 0.3s ease, transition 0.3s ease;
  &:focus-visible {
    background-color: $bgc-pirple-dark;
  }
  &:hover {
    background-color: $bgc-pirple-dark;
    transform: scale(1.1);
  }
  &:active {
    background-color: $bgc-pirple-light;
  }
}

.modal__buy {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.3);
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  &-open {
    visibility: visible;
    opacity: 1;
  }
  &__container {
    margin-top: 182px;
    position: relative;
    max-width: 624px;
    padding: 30px;
    background-color: $white;
    border-radius: 10px;
    z-index: 101;
  }
  &__h3 {
    margin-bottom: 8px;
    @include font-32-normal;
    line-height: 1;

    color: $grey-primary;
  }
  &__descr {
    width: 66%;
    margin-bottom: 30px;
    @include font-14-normal;
    line-height: 1.4;

    color: $grey-primary;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 100%;
    margin-bottom: 31px;
    @include input;
  }
  &__input::placeholder {
    @include font-16-normal;
    line-height: 2.5;

    color: $grey-secondary;
  }
  &__label {
    width: 100%;
    position: relative;
  }
  &__submit {
    @include btn-reset;
    @include btn__fill;
    margin-bottom: 13px;
    align-self: flex-start;
  }
  &__inner {
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: flex-start;   
  }
  &__checkbox {
    display: none;
    @include font-14-normal;
    line-height: 1.3;

    color: $grey-primary;
  }
  &__agreement {
    width: 100%;
    position: relative; 
    display: flex;
    align-items: center;
    @include font-14-normal;
    line-height: 1.3;

    color: $grey-primary;
    &::before {
      content: "";
      margin-right: 10px;
      width: 15px;
      height: 15px;
      background-color: $white;
    
      border: 2px solid $border-grey;
      border-radius: 2px;
      transition: background-color 0.3s ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: 3.5px;
      left: 3px;
      width: 10px;
      height: 10px;
      background-image: url(../images/sprite.svg#checkbox);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  &__agreement-error::before {
    border-color: $red;
  }
  &__checkbox:checked + &__agreement::before {
    background-color: $purple-primary;
  }
  &__checkbox:checked + &__agreement::after {
    opacity: 1;
  }
  &__link {
    text-decoration: underline;
    color: $purple-primary;
  }
}
// Модальное окно "Спасибо"
.modal__thanks {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.3);
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  &-open {
    visibility: visible;
    opacity: 1;
  }
  &__container {
    margin-top: 182px;
    position: relative;
    max-width: 624px;
    width: 100%;
    min-height: 420px;
    padding: 115px 75px;
    background-color: $white;
    border-radius: 10px;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    margin-bottom: 32px;
    margin-right: 50px;
    width: 215px;
    height: 119px;
  }
  &__text {
    @include font-32-normal;
    line-height: 1;
    color: $grey-primary;
  }
}

.error {
  border-color: $red;
  &__text {
    position: absolute;
    top: -19px;
    left: 17px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: $red;
    &-show{
      opacity: 1;
    }
  }
}

.success {
  border-color: $green;
}


.modal__preview {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.3);
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  &-open {
    visibility: visible;
    opacity: 1;
  }
  &__container {
    margin-top: 142px;
    position: relative;
    max-width: 1280px;
    width: 100%;
    min-height: 686px;
    padding: 0;
    padding-top: 50px;
    background-color: $white;
    border-radius: 10px;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__main {
    margin-bottom: 50px;
    width: 83%;
  }
  &__slider {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
  }
  &__wrapper {
    padding: 20px 50px;
    width: calc(100% + 120px);
    display: flex;
    align-items: center;
    background-color: $bgc-primary;
  }
  &__prev,
  &__next {
    display: none;
  }
  &__item {
    width: auto !important;
    height: auto;
  }  
  &__item:not(:last-child){
    margin-right: 80px;
  }
}


// Страница "Каталог"

.catalog {
  &__grid {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 296px minmax(auto, 952px);
    gap: $gap;
  }
  &__slider {
    margin-bottom: 32px;
    width: 100%;
    height: 1324px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    height: 420px !important;
  }
  &__title {
    margin-bottom: 24px;
    @include font-24-normal;
    line-height: 1.3;
    color: $grey-primary;
    &-media {
      margin-bottom: 24px;
      @include font-24-normal;
      line-height: 1.3;
      color: $grey-primary;
      display: none;
    }
  }
  &__btn.swiper-pagination{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn .swiper-pagination-bullet{
    margin-right: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid $purple-primary;
    
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    opacity: 1; 
    
    color: $purple-primary;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    &-active {
      background-color: $purple-dark;
      border-color: $purple-dark;
      color: $white;
    }    
  }
  
  &__btn .swiper-pagination-bullet:focus-visible {
    outline: 0;
    background-color: $bgc-pirple;
    border-color: $border-pirple;
    color: $white;
  }
  &__btn .swiper-pagination-bullet:hover {
    background-color:$border-pirple;
    border-color: $border-pirple;
    color: $white;
  }
  &__btn .swiper-pagination-bullet:active {
    background-color:$border-pirple-dark;
    border-color: $border-pirple-dark;
    color: $white;
  }
  &__banner {
    &__wrapper {
      display: flex;
      flex-direction: column;      
    }
    &__img {
      border-radius: 10px 10px 0px 0px;
    }
    &__info {
      padding: 30px;
      background-color: $bgc-grey-dark;
      border-radius: 0px 0px 10px 10px;
    }
    &__title {
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      font-style: normal;
      font-size: 24px;
      line-height: 1.33;

      color: $gold;
    }
    &__descr {
      margin-bottom: 14px;
      width: 70%;
      @include font-16-normal;
      line-height: 1.3;

      color: $grey-secondary;
    }
  }
}

.btn-tocatalog {
  &__link {
    display: flex;
    align-items: center;
    justify-content: start;
    @include font-16-normal;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;      

    color: $purple-primary;
    transition: border-color 0.3s ease, color 0.3s ease;    
    &:focus-visible {
      outline: 0;
      color: $purple-primary;       
    }
    &:focus-visible .btn-tocatalog__text {
      border-bottom: 2px solid $border-pirple;        
    }
    
    &:focus-visible svg path{
      stroke: $white;
    }
    &:focus-visible svg circle{
      fill: $bgc-pirple;
      stroke: $border-pirple;
    }
    &:hover {
      color: $purple-primary;        
    }
    &:hover .btn-tocatalog__text {
      border-bottom: 2px solid  $border-pirple;        
    }
    
    &:hover svg path{
      stroke: $white;
    }
    &:hover svg circle{
      fill: $border-pirple;
      stroke: $border-pirple;
    }
    &:active {
      color: $purple-dark;        
    }
    &:active .btn-tocatalog__text {
      border-bottom: 2px solid $border-pirple-dark;        
    }
    
    &:active svg path{
      stroke: $white;
    }
    &:active svg circle{
      fill: $border-pirple-dark;
      stroke: $border-pirple-dark;
    }
  }
  &__text {
    margin-right: 5px;
    border-bottom: 2px solid transparent;
    transition: border-color .3s ease;
  }
  & svg svg path, 
  & svg circle{
    transition: stroke 0.3s ease, fill 0.3s ease;

  }
}


.filter {
  &__form {
    margin-bottom: 86px;
  }
  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }
  &__fieldset:not(:last-child) {
    margin-bottom: 29px;
  }
  &__h2 {
    margin-bottom: 17px;
    @include font-16-normal;
    font-size: 18px;
    line-height: 1.3;

    color: $grey-primary;
    &-media {
      display: none;
      @include font-16-normal;
      font-size: 18px;
      line-height: 1.3;
  
      color: $grey-primary;
    }
  }
  &__select__header {
    display: none;
  }
  &__h3 {
    margin-bottom: 10px;
    @include font-16-normal;
    line-height: 1.3;

    color: $grey-secondary;
  }
  &__input__wrapper {
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: flex-start;   
  }
  &__input__wrapper:not(:last-child) {
    margin-bottom: 10px;
  } 
  &__input__wrapper:focus-within label::before{
    background-color: $purple-light;
  }
  &__input__wrapper:focus-within label span{
    border-bottom: 1px solid $purple-light;
  }
  &__checkbox:focus-visible {
    outline: 0;
  }
  &__checkbox {
    @include font-14-normal;
    line-height: 1.3;

    color: $grey-primary;
  }  
  &__item {
    width: 100%;
    position: relative; 
    display: flex;
    align-items: center;
    @include font-16-normal;
    line-height: 1.3;    

    color: $grey-primary;
    &::before {
      content: "";
      margin-right: 10px;
      width: 20px;
      height: 20px;
      background-color: $white;
    
      border: 1px solid $border-grey-dark;
      border-radius: 2px;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: 5.5px;
      left: 5px;
      width: 10px;
      height: 10px;
      background-image: url(../images/sprite.svg#checkbox);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    & span {
      border-bottom: 1px solid transparent;      
      transition: border-color 0.3s ease;
    }
  }
  &__checkbox:checked + &__item::before {
    background-color: $purple-primary;
    border: 1px solid transparent;
  }
  &__checkbox:checked + &__item::after {
    opacity: 1;
  } 
  &__price {
    &__wrapper {
      margin-top: -5px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__span {
      margin-right: 4px;
      @include font-16-normal;
      line-height: 1.3;

      color: $grey-secondary;
    }
    &__input {
      padding: 2px 11px;
      width: 86px;
      height: 30px;
      text-align: left;
      @include font-16-normal;
      line-height: 1.3;
      border: 1px solid $border-grey-dark;

      color: $grey-secondary;
      transition: border-color 0.3s ease, background-color 0.3s ease;
      &:focus,
      &:focus-visible {
        outline: 0;
        border-color: $border-pirple;
        background-color: $bgc-pirple-dark;
      }
      &:hover {
        border-color: $border-pirple;
      }
      &:active {
        border-color: $border-pirple-dark;
      }
    }    
  }
  &__select {
    &:focus-visible {
      outline: 0;
    }
  }
  &__dropdown {
    &:focus-visible {
      outline: 0;
    }
  }
  .noUi{    
    &-target {
      margin-bottom: 5px;
      background-color: $bgc-grey;
      border-radius: 3px;
      border: none;
      box-shadow: none;
      height: 3px;
    }
    &-connect {
      background-color: $purple-primary;
      transition: background-color 0.3s ease;
    }   
    &-handle::before,
    &-handle::after {
      content: none;
    }
    &-handle {
      cursor: pointer;
      width: 13px;
      height: 13px;
      right: -6px;
      top: 0px;
      background-color: transparent;
      box-shadow: none;
      border-style: solid;
      border-width: 0 6.5px 13px 6.5px;
      border-color: transparent transparent $purple-primary transparent;

      transition: border-color 0.3s ease, background-color 0.3s ease;
      &:focus-visible {
        outline: 0;
        border-color: transparent transparent $purple-dark transparent;
      }
      &:hover {
        border-color: transparent transparent $purple-light transparent;
      }
      &:active {
        border-color: transparent transparent $purple-dark transparent;
      }
    }
  }
}
.noUi-base:focus-within .noUi-connects > .noUi-connect {
  background-color: $purple-dark;
}

// Страница "Партнерство"

.partnership {
  &__title {
    margin-bottom: 17px;
    @include font-32-normal;
    line-height: 1;

    color: $grey-primary;
  }
  &__section {
    padding-top: calc($section-gap / 2);
    padding-bottom: calc($section-gap / 2);
  }
  &__h2 {
    margin-bottom: 13px;
    @include font-24-normal;
    line-height: 33px;

    color: $grey-primary;
  }
  &__text {
    width: 65%;
    @include font-16-normal;
    line-height: 1.8;

    color: $grey-secondary;
  }
  &__list {
    &-ul {
      width: 49%;
      @include ul-reset;
      padding-left: 36px;
    }
    &-ol{
      margin: 0;
      width: 65%;
      padding-left: 18px;
      counter-reset: num;
    }
    &-ol .partnership__item-ol::before {
      content: counter(num) '. '; 
      counter-increment: num;
      display: inline-block;
      margin-left: -18px;
      margin-right: 10px;
      @include font-16-normal;
      font-weight: 600;
      line-height: 1.8;

      color: $orange-primary;
    }
  }
  &__item {
    &-ul{
      position: relative;
      @include font-16-normal;
      line-height: 1.5;
  
      color: $grey-secondary;   
      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        top: -3px;
        left: -36px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }   
    }
    &-ul:not(:last-child) {
      margin-bottom: 10px;
    }
    &-network::after {
      background-image: url(../images/sprite.svg#partnership__network);
    }
    &-case::after {
      background-image: url(../images/sprite.svg#partnership__case);
    }
    &-git::after {
      background-image: url(../images/sprite.svg#partnership__git);
    }

    &-ol {      
      display: flex;
      @include font-16-normal;
      line-height: 1.8;
      list-style-type: none;       
  
      color: $grey-secondary;
    }    
    &-ol:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__h3 {
    margin-bottom: 13px;
    @include font-16-normal;
    font-weight: 600;
    line-height: 1.38;

    color: $orange-primary; 
  }
  &__descr {
    margin-bottom: 12px;
    width: 65%;
    @include font-16-normal;
    line-height: 1.8;

    color: $grey-secondary;
    &-last {
      margin-bottom: 0;
    }
  }
  &__guarantee {
    padding-top: 56px;
    padding-bottom: 75px;
    padding-left: 108px;
    width: 50%;
    position: relative;
    @include font-24-normal;
    line-height: 1.5;

    color: $grey-primary;
    &::after {
      content: "";
      position: absolute;
      top: 33px;
      left: 0;
      width: 77px;
      height: 116px;
      background-image: url(../images/partnership__pencil.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}


@import "media.scss";


